.faq_item_body{
    padding: 25px 35px;
    width: 1036px;
    border-radius:15px;
    background-color:#384D70;
    transition: transform 1s;
    transform: translate(0, 0px);
    cursor: pointer;

    &:not(:last-child){
        margin: 0 0 20px 0;
    }

    .question_text{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'SF Pro Display';

        p{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color:#fff;
        }

        &:after{
            content:'';
            display: block;
            width: 40px;
            height: 40px;
            border-radius:50%;
            background:#E11D2E url(../../../../public/img/section/faq/arrow_ico.svg) no-repeat center;
            cursor: pointer;
            transition: 0.3s all;
        }

        &.active{

            &:after{
                transform: rotateX(180deg);
            }

        }

    }

    .answer_text{
        display: block;
        height:fit-content;
        width: 100%;
        font-family: 'SF Pro Display';
        overflow: hidden;

        p{
            padding: 15px 0 0 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #A0A3B5;
        }

    }       

}
