.footer{
    padding: 40px 0 ;
    background-color: #0D1428;

    p{
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color:#6E727E;
    }

}