$main-text-color:#FFFFFF;
$second-text-color:#E11D2E;

$main-background-color:#222046;
$second-background-color:#241E7D;
$third-background-color:#384D70;

$container-width: 1516px;
$container-fluid-width: 100%;
